{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/estudiante.css' %}">
{% endblock %}

{% block title %}Dashboard - EduZen{% endblock %}

{% block page_title %}Inicio{% endblock %}

{% block content %}
<section id="main-dashboard" class="dashboard-content">
    <div class="student-welcome">
        <h2>Bienvenid@ {{ user.first_name }} {{ user.last_name }}</h2>
        <p>Aquí podrás ver un resumen general de tus actividades, materias y progreso académico.</p>
    </div>

    <div class="boxes">
        <div class="box box1">
            <i class="fas fa-book"></i>
            <div class="text">Materias</div>
            <div class="number">{{ total_materias }}</div>
        </div>
        <div class="box box2">
            <i class="fas fa-tasks"></i>
            <div class="text">Tareas Pendientes</div>
            <div class="number">{{ tareas_pendientes }}</div>
        </div>
        <div class="box box3">
            <i class="fas fa-check-circle"></i>
            <div class="text">Completadas</div>
            <div class="number">{{ tareas_completadas }}</div>
        </div>
    </div>

    <div class="activity">
        <div class="title">
            <span class="text">Últimas actividades</span>
        </div>
        <div class="table-responsive">
            <table class="activity-table">
                <thead>
                    <tr>
                        <th>Actividad</th>
                        <th>Materia</th>
                        <th>Estado</th>
                        <th>Fecha Límite</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                    {% for act in ultimas_actividades %}
                    <tr>
                        <td>{{ act.titulo }}</td>
                        <td>{{ act.materia.nombre }}</td>
                        <td>
                            {% if act.estado == "completado" %}
                            <span class="stat-item stat-completed"><i class="fas fa-check"></i> Completado</span>
                            {% else %}
                            <span class="stat-item stat-pending"><i class="fas fa-hourglass-half"></i> Pendiente</span>
                            {% endif %}
                        </td>
                        <td>{{ act.fecha_entrega|date:"d M Y" }}</td>
                        <td>
                            <a href="{% url 'actividad_detalle' act.id %}" class="btn-action btn-view">Ver</a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="5">No tienes actividades registradas.</td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>
    </div>

    {% endblock %}