{% extends "base.html" %}
{% block title %}Eliminar Usuario{% endblock %}

{% block content %}
<div class="delete-container">
    <h2>¿Seguro que deseas eliminar este usuario?</h2>
    <p><strong>{{ user.email }}</strong></p>

    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">
            <i class="fa-solid fa-trash"></i> Eliminar
        </button>
        <a href="{% url 'admins:user_list' %}" class="btn btn-secondary">
            <i class="fa-solid fa-arrow-left"></i> Cancelar
        </a>
    </form>
</div>
{% endblock %}
