{% extends 'base.html' %}
{% load static %}

{% block title %}Dashboard - EduZen{% endblock %}

{% block page_title %}Inicio{% endblock %}

{% block content %}
<section id="main-dashboard" class="dashboard-content">
    <div class="student-welcome">
        <h2>Bienvenid@ {{ user.first_name }} {{ user.last_name }}</h2>
        <p>Aquí podrás ver un resumen general de tus actividades, materias y progreso académico.</p>
    </div>

    <div class="boxes">
        <div class="box box1">
            <i class="fas fa-book"></i>
            <div class="text">Materias</div>
            <div class="number">4</div>
        </div>
        <div class="box box2">
            <i class="fas fa-tasks"></i>
            <div class="text">Tareas Pendientes</div>
            <div class="number">3</div>
        </div>
        <div class="box box3">
            <i class="fas fa-check-circle"></i>
            <div class="text">Completadas</div>
            <div class="number">12</div>
        </div>
    </div>

    <div class="activity">
        <div class="title">
            <i class="fas fa-bell"></i>
            <span class="text">Últimas actividades</span>
        </div>
        <div class="table-responsive">
            <table class="activity-table">
                <thead>
                    <tr>
                        <th>Actividad</th>
                        <th>Materia</th>
                        <th>Estado</th>
                        <th>Fecha Límite</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Cuestionario Cap. 1</td>
                        <td>Redes</td>
                        <td><span class="stat-item stat-pending"><i class="fas fa-hourglass-half"></i> Pendiente</span></td>
                        <td>10 julio</td>
                        <td><button class="btn-action btn-view">Ver</button></td>
                    </tr>
                    <tr>
                        <td>Ensayo sobre OSI</td>
                        <td>Sistemas</td>
                        <td><span class="stat-item stat-completed"><i class="fas fa-check"></i> Completado</span></td>
                        <td>5 julio</td>
                        <td><button class="btn-action btn-view">Ver</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}
