{% extends "base.html" %}
{% block title %}Mis Materias{% endblock %}

{% block page_title %}Mis Materias{% endblock %}

{% block content %}
<div class="materias-list">
    {% if materias %}
        <ul>
            {% for materia in materias %}
                <li>
                    <strong>{{ materia.nombre }}</strong>  
                    <small>Ficha: {{ materia.ficha.nombre }}</small>
                    <a href="#">Ver actividades</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No tienes materias asignadas.</p>
    {% endif %}
</div>
{% endblock %}
